@font-face {
    font-family: principal;
    src: url("../fonts/principal.ttf");
}
@font-face {
    font-family: effect;
    src: url("../fonts/inicial.otf");
}
* {
    margin: 0px;
    border: 0px;
    font-weight: 1000;
    color: #4d4949;
    font-family: principal;
}


    /* BACKGROUND DA PAGINA */
#background {
    background-image: linear-gradient(to top,#fc9a58, #ff7f26);
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
}
#background {
    width: 100%;
}
#formal-index {
    position: absolute;
    top: 40px;
    width: 100%;
    text-align: center;
}
#formal-index > img, p {
    display: block;
    color: #f8f8f8;
}
#formal-index > img {
    margin: 0px auto;
    width: 13%;
}
    /* TELA BRANCA DO LADO ESQUERDO*/
#side-right {
    display: inline-block;
    width: 50%;
    background: gray;
}   

    /* DIV GERAL DOS FORMS */
#box-options-login {
    
}

    /* DIV DOS BOTOES DOS FORMULARIOS */
#box-options-button {
    display: flex;
}
    /* BOTOES */
#box-options-button > button {
    border: 0px;
    padding: 6px 0px;
    width: 50%;
    background: #f8f8f8;
    cursor: pointer;
    color: #293F76;
    outline: none;
}
#box-options-button > button:hover {
    color: rgb(14, 34, 85);
}

#frm-logar {
    padding-top: 40px;
    padding-bottom: 40px;
}

.btn-ativo {
    background: #293F76!important;
    color: #f1f1f1!important;
}
.btn-ativo:hover {}

    /* CLASSE DOS FORMULARIOS */
.frm-index {
    display: block;
    margin: 0px auto;
    box-sizing: border-box;
    padding: 15px 70px 30px;
    box-shadow: 0px 0px 25px 1.5px rgba(0, 0, 0, 0.6);
    background: #f8f8f8;

}

    /* INPUTS DE DENTRO DOS FORMULARIOS */
.frm-index > label input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    outline: none;
    padding: 5px 2px;
    font-size: 14px;
    color: #4d4949;
    border-bottom: 3px solid #4d4949;
}
.frm-index > label input:focus {
    background: #4d4949;
    color: #f1f1f1;
    transition: .2s;
}
.frm-index > label > p{
    margin-top: 25px;
    font-size: 14px;
    padding: 5px;
}
.frm-btn {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.btn-esqueci-senha{
    font-size: 13px;
    margin-top: 5px;
    background: none;
    cursor: pointer;
    color: #293F76;
    outline: none;
    text-decoration: none;
    user-select: none;
}
.btn-esqueci-senha:hover {
    color: rgb(14, 34, 85);
}
.frm-cad-btn {
    text-align: right;
    margin-top: 30px;
}
.btn-default {
    padding: 4px 15px;
    border: 0px; 
    background: #293F76;
    color: #f1f1f1;
    cursor: pointer;
}
 /* EFEITOS NOS FORMS */
.frm-desativado {
    display: none;
}
.avisos {
    font-size: 14px;
    margin: 5px 0px;
    text-align: center;
}


/* ESQUECI SENHA */
#esqueci-senha {
    padding-bottom: 15px;
    text-align: center;
    display: none;
}
#esqueci-senha > p{
    font-size: 15px;
}
#esqueci-senha > hr {
    border: .5px solid #4d4949;
    margin: 30px 0px;
}
#esqueci-senha > input {
    box-sizing: border-box;
    outline: none;
    padding: 2px;
    margin-top: 15px;
    width: 75%;
    font-size: 14px;
    color: #4d4949;
    border-bottom: 3px solid #4d4949;
}
#esqueci-senha > input:focus {
    background: #4d4949;
    color: #f1f1f1;
    transition: .2s;
}

#load {
    display: none;
    width: 10%;
}

.erro {
    text-align: center;
    color: #eb2e21;
    padding-top: 10px;
}
.sucesso {
    color: #00bf32;
    text-align: center;
    margin-top: 3px;
}